/* ********************************* */
/* Navigation in header-mobil first */
/* ********************************* */
.menu-icon {
	display: flex;
	flex-direction: column;
	cursor: pointer;
	margin-top: 40px;
	margin-right: 30px;
  }
  
  .bar {
	width: 30px;
  	height: 4px;
  	background-color: #333; /* Adjust the color as needed */
  	margin: 2px 0;
  	transition: 0.4s;
	border-radius: 4px;
  }
  
  .bar.open:nth-child(1) {
	transform: rotate(-45deg) translate(-5px, 6px);
  }
  
  .bar.open:nth-child(2) {
	opacity: 0;
  }
  
  .bar.open:nth-child(3) {
	transform: rotate(45deg) translate(-5px, -6px);
  }

  .menu {
	display: none;
	/* background-color : green; */
  }

  .menu.open {
	display: block;
	width: 300px;
	background-color: lightcoral;
  }
