
@charset "UTF-8";
/* CSS Document */

*,
*::before,
*::after {
  box-sizing: border-box;
}

.searchbar__wrapper {
	display: flex;
	justify-content: center;
}

.searchbar__container__form {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.searchbar__container__title {
	font-size: 18px;
	text-align: center;
}

.searchbar__container__title span {
	display: block;
}

.searchbar__container__form input {
	border: 1px solid rgb(153, 150, 150);
	border-radius: 10px;
	font-size: 16px;
	margin-bottom: 15px;
	padding: 12px;
	height: 34px;
	width: 322px;
}

.searchbar__container__form button {
	background-color: #6504B5;
	border: none;
	border-radius: 25px;
	color: white;
	font-size: 16px;
	font-weight: bold;
	text-transform: uppercase;
	padding: 12px;
	width: 322px;
}

/**************************************************/
/**************************************************/
/* Tablet Syles */
/**************************************************/
/**************************************************/

@media(min-width: 768px){
	.searchbar__container__title {
		font-size: 25px;
		text-align: center;
	}
	
	.searchbar__container__title span {
		display: inline;
	}
}
	
