
@charset "UTF-8";
/* CSS Document */

*,
*::before,
*::after {
  box-sizing: border-box;
}

.searchbar__wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	padding-bottom: 50px;
	
}

.searchbar__container__form {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.searchbar__container__form form {
	display: flex;
	justify-content: space-between;
	align-items: start;
	flex-flow: row wrap;
}

.searchbar__container__title {
	font-size: 18px;
	text-align: center;
}

.searchbar__container__title span {
	display: block;
}

.searchbar__container__form input {
	border: none;
	border-radius: 8px;
	font-size: 16px;
	padding: 15px 16px;
	width: 323px;
}

.searchbar__container__form button {
	background-color: #6504B5;
	border: none;
	border-radius: 8px;
	color: white;
	font-size: 30px;
	font-weight: bold;
	text-transform: uppercase;
	padding-top: 10px;
	margin-left: 10px;
	width: 45px;
}

/* Holds inputs and button */
.searchbar__form__container {
	background-color: #ffffff;
	border-top-left-radius: 8px;
	border-bottom-left-radius: 8px;
	border-top-right-radius: 8px;
	border-bottom-right-radius: 8px;
	width: 655px;
}
.searchDivide {
	color: rgb(226, 222, 222);
	font-size: 30px;
}

#searchLocation {
	border-top-right-radius: 8px;
	border-bottom-right-radius: 8px;
}
/**************************************************/
/**************************************************/
/* Tablet Syles */
/**************************************************/
/**************************************************/

@media(min-width: 768px){
	.searchbar__container__title {
		font-size: 25px;
		text-align: center;
	}
	
	.searchbar__container__title span {
		display: inline;
	}
}
	
