@charset "UTF-8";
/* CSS Document */
/**************************************************/
/**************************************************/
/* Mobile Styles */
/**************************************************/
/**************************************************/
*,
*::before,
*::after {
  box-sizing: border-box;
}

.search-wrapper {
	background-color: rgb(230, 233, 242);
	display: flex;
	justify-content: center;
	padding-bottom: 50px;
}

.form-input-container {
	display: flex;
	justify-content: center;
	flex-direction: column;
	margin-left: 20px;
	margin-right: 20px;
}

.form-input-container select {
	border: none;
	border-radius: 8px;
	font-size: 16px;
	padding: 12px 8px;
	margin-bottom: 15px;
	width: 323px;
	margin-left: auto;
	margin-right: auto;
}

.form-input-container label {
	padding: 5px 10px;
	font-size: 18px;
}

.form-title-container h2 {
	font-size: 48px;
	margin-bottom: 0;
	text-align: center;
}

.form-title-container p {
	font-size: 25px;
	text-align: center;
}

.form-button-container {
	display: flex;
	justify-content: center;
	margin-top: 20px;
}

.form-button-container button {
	background-color: #6504B5;
	border: none;
	border-radius: 25px;
	color: white;
	font-size: 16px;
	font-weight: bold;
	text-transform: uppercase;
	padding: 12px;
	width: 322px;
	
}
/**************************************************/
/**************************************************/
/* Tablet Styles */
/**************************************************/
/**************************************************/
	@media(min-width: 768px){
		.form-input-container {
			margin: 0;
		}

		.form-input-container select {
			width: 450px;
			margin: 0;
			margin-left: auto;
			margin-right: auto;
		}
		
		.form-input-container label {
			margin: 0;
			width: 450px;
			margin-left: auto;
			margin-right: auto;
		}
	}

/**************************************************/
/**************************************************/
/* Desktop Styles */
/**************************************************/
/**************************************************/
	@media(min-width: 1200px){
		.form-input-container {
			margin: 0;
		}

		.form-input-container select {
			width: 475px;
			margin: 0;
			margin-left: auto;
			margin-right: auto;
		}
		
		.form-input-container label {
			margin: 0;
			width: 475px;
			margin: 10px auto 5px auto;
		}
	}